<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control
        (gameStarted)="gameStart($event)"
        (gameStopped)="gameStop($event)"
      >
      </app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-odd *ngFor="let oddNumber of oddNumbers"
               [odd]="oddNumber"></app-odd>
    </div>
    <div class="col-md-6">
      <app-even  *ngFor="let evenNumber of evenNumbers"
                 [even]="evenNumber"></app-even>
    </div>
  </div>

  <p appBestVisual [defaultColor]="'red'" [highlightColor]="'yellow'">This is bestVisual Directive...!</p>

</div>
